.bazar-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.car-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px;
}
.choice-container{
    color: white;
    background-color: #4973F2;
    padding: 10px;
}

@media screen and (max-width:960px) {
    .car-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
