.car {
    width: 350px;
    height: 500px;
    border: 1px solid #91B7D9;
    border-radius: 10px;
    position: relative;
}
.car img{
    width: 340px;
    height: 260px;
    margin: 5px;
    border-radius: 10px;
}
.info{
    margin: 10px;
}
.btn-choice{
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border: none;
    border-radius: 0 0 10px 10px;
    bottom: 0;
    background-color:  #91B7D9;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-choice p{
    margin-right: 10px;    
}
.btn-choice:hover{
    color: white;
    background-color:#113059;
}