.choice{
    position: sticky;
    top: 0;
}
.choice-info button{
    width: 100%;
    color: white;
    background-color: #41BF78;
    border: 1px solid white;
    border-radius: 20px;
    padding: 8px;
    margin-top: 10px;
}
.choice-info button:hover{
    color: #41BF78;
    background-color: white;
    border: 1px solid #41BF78;
}